In [1]:
import pandas as pd
df = pd.read_csv('data/scores.csv')
df.index = 'i'+df.index.astype('str')
df.head()

       name    kor    eng   math
i0    Aiden  100.0   90.0   95.0
i1  Charles   90.0   80.0   75.0
i2   Danial   95.0  100.0  100.0
i3     Evan  100.0  100.0  100.0
i4    Henry    NaN   35.0   60.0

# 인덱스로 행 데이터 추출하기
* 데이터프레임명.**loc[인덱스]**       
: 시리즈 형태로 추출한다. 하나의 인덱스만 사용 가능하다.
* 데이터프레임명.**loc[인덱스리스트]**    
: 데이터프레임 형태로 추출한다. 한개 이상의 인덱스를 사용할 수 있다.

## 시리즈 형태로 추출하기

In [3]:
# 인덱스가 i3인 행 추출하여 s1에 담기
s1 = df.loc["i3"]
s1

name     Evan
kor     100.0
eng     100.0
math    100.0
Name: i3, dtype: object

In [4]:
# s1 type
type(s1)

pandas.core.series.Series

In [5]:
# s1 index
s1.index

Index(['name', 'kor', 'eng', 'math'], dtype='object')

In [6]:
# s1 value
s1.values

array(['Evan', 100.0, 100.0, 100.0], dtype=object)

## 데이터프레임 형태로 추출하기

In [7]:
# 인덱스가 i1,i3,i5인 행 추출하기
df.loc[["i1","i3","i5"]]

       name    kor    eng   math
i1  Charles   90.0   80.0   75.0
i3     Evan  100.0  100.0  100.0
i5      Ian   90.0  100.0   90.0

In [8]:
# 인덱스가 i3인 행을 데이터프레임 형태로 추출하기
df.loc[["i3"]]

    name    kor    eng   math
i3  Evan  100.0  100.0  100.0

In [9]:
# 인덱스에 없는 값을 사용하면 error
df.loc[-1]

KeyError: -1

# 인덱스로 행,열 추출하기

## 인덱스, 컬럼에 해당하는 한개의 데이터 뽑아오기
* **loc[인덱스, 컬럼명]**

In [11]:
df

         name    kor    eng   math
i0      Aiden  100.0   90.0   95.0
i1    Charles   90.0   80.0   75.0
i2     Danial   95.0  100.0  100.0
i3       Evan  100.0  100.0  100.0
i4      Henry    NaN   35.0   60.0
i5        Ian   90.0  100.0   90.0
i6      James   70.0   75.0   65.0
i7     Julian   80.0   90.0   55.0
i8     Justin   50.0   60.0  100.0
i9      Kevin  100.0  100.0   90.0
i10       Leo   90.0   95.0   70.0
i11    Oliver   70.0   75.0   65.0
i12     Peter  100.0   95.0  100.0
i13       Amy   90.0   75.0   90.0
i14     Chloe   95.0  100.0   95.0
i15     Danna  100.0  100.0  100.0
i16     Ellen    NaN   60.0    NaN
i17      Emma   70.0   65.0   70.0
i18  Jennifer   80.0   55.0   80.0
i19      Kate   50.0    NaN   50.0
i20     Linda  100.0   90.0  100.0
i21    Olivia   90.0   70.0   90.0
i22      Rose   70.0   65.0   70.0
i23     Sofia  100.0  100.0  100.0
i24   Tiffany   90.0    NaN   90.0
i25   Vanessa   95.0   70.0   95.0
i26   Viviana  100.0   80.0  100.0
i27    Vikkie    NaN   50.0  100.0
i28    Winnie   70.0  100.0   70.0
i29      Zuly   80.0   90.0   95.0

In [14]:
# 인덱스 i1의 kor점수
df.loc["i1","kor"]

90.0

In [15]:
# type
type(df.loc["i1","kor"])

numpy.float64

## 특정 인덱스의 여러 컬럼 데이터 추출하기
* **loc[인덱스, 컬럼명리스트]**

In [16]:
# 인덱스 i1 name, kor
df.loc["i1",["name","kor"]]

name    Charles
kor        90.0
Name: i1, dtype: object

In [17]:
# typet
type(df.loc["i1",["name","kor"]])

pandas.core.series.Series

## 여러 인덱스의 특정 컬럼 데이터 추출하기
* **loc[인덱스리스트,컬럼명]**

In [18]:
# 인덱스 i1,i3,i5의 name
df.loc[["i1","i3","i5"],"name"]

i1    Charles
i3       Evan
i5        Ian
Name: name, dtype: object

In [19]:
# type
type(df.loc[["i1","i3","i5"],"name"])

pandas.core.series.Series

## 여러 인덱스의 여러 컬럼 가져오기
* **loc[인덱스리스트, 컬럼명리스트]**

In [20]:
# 인덱스 i1,i3,i5의 name, kor
df.loc[["i1","i3","i5"],["name","kor"]]

       name    kor
i1  Charles   90.0
i3     Evan  100.0
i5      Ian   90.0

## 모든 행에서 특정 열 가져오기
* loc[:,컬럼명] 
* loc[:,컬럼명리스트]

In [22]:
# 모든 행에서 'name' 가져오기
df.loc[:,"name"]

i0        Aiden
i1      Charles
i2       Danial
i3         Evan
i4        Henry
i5          Ian
i6        James
i7       Julian
i8       Justin
i9        Kevin
i10         Leo
i11      Oliver
i12       Peter
i13         Amy
i14       Chloe
i15       Danna
i16       Ellen
i17        Emma
i18    Jennifer
i19        Kate
i20       Linda
i21      Olivia
i22        Rose
i23       Sofia
i24     Tiffany
i25     Vanessa
i26     Viviana
i27      Vikkie
i28      Winnie
i29        Zuly
Name: name, dtype: object

In [21]:
# 모든 행에서 'name','math' 가져오기
df.loc[:,["name","math"]]

         name   math
i0      Aiden   95.0
i1    Charles   75.0
i2     Danial  100.0
i3       Evan  100.0
i4      Henry   60.0
i5        Ian   90.0
i6      James   65.0
i7     Julian   55.0
i8     Justin  100.0
i9      Kevin   90.0
i10       Leo   70.0
i11    Oliver   65.0
i12     Peter  100.0
i13       Amy   90.0
i14     Chloe   95.0
i15     Danna  100.0
i16     Ellen    NaN
i17      Emma   70.0
i18  Jennifer   80.0
i19      Kate   50.0
i20     Linda  100.0
i21    Olivia   90.0
i22      Rose   70.0
i23     Sofia  100.0
i24   Tiffany   90.0
i25   Vanessa   95.0
i26   Viviana  100.0
i27    Vikkie  100.0
i28    Winnie   70.0
i29      Zuly   95.0

In [25]:
# 모든 행에서 'name' 가져오기(데이터프레임)
print(df.loc[:,["name"]][:3])
type(df.loc[:,["name"]])

       name
i0    Aiden
i1  Charles
i2   Danial

pandas.core.frame.DataFrame