* 데이터 수집      
https://data.seoul.go.kr/dataList/5/literacyView.do

In [1]:
import pandas as pd

In [2]:
# 그래프를 노트북 안에 그리기 위해 설정
%matplotlib inline

# 필요한 패키지와 라이브러리 가져온다.
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
mpl.rcParams['axes.unicode_minus'] = False

# 폰트 지정하기
plt.rcParams['font.family'] = 'gulim'

# 데이터 확인 및 전처리

## 2021년 공공자전거 대여이력 정보

### 데이터프레임 생성/확인

In [4]:
df1 = pd.read_csv('data/공공자전거 대여이력 정보_2021.01.csv', encoding='cp949', low_memory=False)
df2 = pd.read_csv('data/공공자전거 대여이력 정보_2021.02.csv', encoding='cp949', low_memory=False)
df3 = pd.read_csv('data/공공자전거 대여이력 정보_2021.03.csv', encoding='cp949', low_memory=False)
df4 = pd.read_csv('data/공공자전거 대여이력 정보_2021.04.csv', encoding='cp949', low_memory=False)
df5 = pd.read_csv('data/공공자전거 대여이력 정보_2021.05.csv', encoding='cp949', low_memory=False)
df6 = pd.read_csv('data/공공자전거 대여이력 정보_2021.06.csv', encoding='cp949', low_memory=False)

In [5]:
df1.head(1)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-53145,2021-01-02 20:50:36,3,중랑센터,0,2021-01-02 21:15:41,668,서울축산농협(장안지점),0,25,0.0

### 데이터 연결/확인
* concat

In [37]:
# concat
df = pd.concat([df1,df2,df3,df4,df5,df6])
len(df)

13613873

In [9]:
# head
df.head(1)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-53145,2021-01-02 20:50:36,3,중랑센터,0,2021-01-02 21:15:41,668,서울축산농협(장안지점),0,25.0,0.0

In [10]:
#tail
df.tail(1)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
3445943,SPB-52274,2021-06-30 22:12:10,2220,반포본동 주민센터 앞,0,2021-07-01 04:55:30,02526,반포경남쇼핑 앞,0,403.0,4541.22

In [38]:
# 데이터 크기
# 데이터 정보(사용메모리)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13613873 entries, 0 to 3445943
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     object
 5   반납일시      object
 6   반납대여소번호   object
 7   반납대여소명    object
 8   반납거치대     int64
 9   이용시간      float64
 10  이용거리      float64
dtypes: float64(2), int64(2), object(7)
memory usage: 1.2+ GB

In [16]:
# 데이터 크기
df.shape

(13613873, 11)

## 데이터 전처리

### 불필요한 컬럼 제거

In [17]:
df.head(3)

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-53145,2021-01-02 20:50:36,3,중랑센터,0,2021-01-02 21:15:41,668,서울축산농협(장안지점),0,25.0,0.00
1,SPB-53074,2021-01-04 16:02:12,3,중랑센터,0,2021-01-04 16:17:06,668,서울축산농협(장안지점),0,14.0,0.00
2,SPB-50952,2021-01-13 21:02:05,3,중랑센터,0,2021-01-13 21:14:04,668,서울축산농협(장안지점),0,11.0,1853.99

In [19]:
df.isnull().sum()
print(df["대여거치대"].unique())
print(df["반납거치대"].unique())

[0 7 99 1 4 3 19 2 20 16 11 12 10 9 5 8 6 15 23 17 13 14 18 40 38 33 22 24
 39 26 21 27 25 32 29 30 34 31 28 36 37 35 '0' '8' '99' '1' '7' '11' '6'
 '2' '10' '5' '17' '3' '4' '15' '16' '12' '9' '18' '19' '14' '13' '21'
 '28' '20' '26' '30' '25' '22' '23' '24' '39' '36' '37' '34' '32' '29'
 '27' '2021-02-06 09:29:07' '31' '33' '2021-02-08 08:57:41'
 '2021-02-09 22:11:59' '35' '2021-02-18 13:04:47' '40'
 '2021-02-22 15:03:56' '38' '2021-02-24 08:11:15' '2021-02-26 12:32:20'
 '2021-02-26 13:47:05' '2021-02-27 21:07:10' '2021-03-02 14:20:36'
 '2021-03-02 20:39:35' '2021-03-02 22:30:53' '2021-03-03 18:08:05'
 '2021-03-03 19:10:48' '2021-03-04 06:37:43' '2021-03-04 12:53:15'
 '2021-03-05 15:47:47' '2021-03-06 00:22:21' '2021-03-06 14:09:35'
 '2021-03-08 14:32:51' '2021-03-08 18:17:54' '2021-03-09 07:23:12'
 '2021-03-09 07:44:56' '2021-03-12 13:39:05' '2021-03-12 18:11:17'
 '2021-03-12 18:53:10' '2021-03-13 10:03:30' '2021-03-14 21:42:44'
 '2021-03-16 20:08:51' '2021-03-17 20:09:40' '2021-03-19 21:38:50'
 '2021-03-19 21:48:28' '2021-03-19 22:16:58' '2021-03-24 08:30:24'
 '2021-03-24 17:05:00' '2021-03-24 22:03:24' '2021-03-25 16:48:49'
 '2021-03-28 15:01:55' '2021-03-30 08:44:09' '2021-03-31 20:42:18'
 '2021-04-01 17:14:41' '2021-04-01 20:07:42' '2021-04-02 20:34:24'
 '2021-04-06 08:45:49' '2021-04-06 20:19:46' '2021-04-06 23:17:56'
 '2021-04-09 22:46:21' '2021-04-11 19:03:09' '2021-04-12 08:35:27'
 '2021-04-13 13:37:28' '2021-04-13 14:19:59' '2021-04-14 16:17:03'
 '2021-04-16 12:55:19' '2021-04-16 18:48:12' '2021-04-18 02:28:10'
 '2021-04-19 12:44:34' '2021-04-19 19:25:40' '2021-04-20 07:10:59'
 '2021-04-21 19:17:27' '2021-04-21 21:34:51' '2021-04-22 18:35:41'
 '2021-04-23 12:19:31' '2021-04-23 20:45:04' '2021-04-25 03:34:51'
 '2021-04-25 16:24:41' '2021-04-26 14:45:27' '2021-04-27 15:51:56'
 '2021-04-27 18:43:43' '2021-04-27 19:08:05' '2021-04-28 16:00:16'
 '2021-04-30 18:26:48' '2021-04-30 23:01:47' '2021-05-01 09:28:56'
 '2021-05-02 07:33:08' '2021-05-02 17:30:43' '2021-05-02 19:44:56'
 '2021-05-03 21:56:14' '2021-05-04 00:29:48' '2021-05-05 16:14:41'
 '2021-05-07 06:30:42' '2021-05-07 08:46:38' '2021-05-07 14:21:30'
 '2021-05-07 15:16:16' '2021-05-07 19:11:10' '2021-05-08 13:43:43'
 '2021-05-08 17:34:43' '2021-05-09 17:29:57' '2021-05-13 00:29:32'
 '2021-05-13 10:04:09' '2021-05-13 21:53:45' '2021-05-14 23:29:41'
 '2021-05-18 04:59:39' '2021-05-18 16:23:29' '2021-05-18 19:55:00'
 '2021-05-18 20:42:44' '2021-05-19 17:45:27' '2021-05-20 00:49:35'
 '2021-05-21 14:04:32' '2021-05-22 18:44:11' '2021-05-24 19:23:53'
 '2021-05-25 02:15:31' '2021-05-25 14:28:45' '2021-05-25 19:36:05'
 '2021-05-26 17:50:37' '2021-05-26 18:46:15' '2021-05-26 22:38:02'
 '2021-05-27 19:25:01' '2021-05-28 21:26:10' '2021-05-30 20:00:46'
 '2021-05-31 16:40:32' '2021-06-01 21:50:23' '2021-06-01 22:18:02'
 '2021-06-02 16:25:40' '2021-06-03 05:28:30' '2021-06-06 10:26:42'
 '2021-06-06 12:11:27' '2021-06-06 12:22:35' '2021-06-07 05:40:56'
 '2021-06-07 11:22:57' '2021-06-07 21:00:04' '2021-06-08 18:57:04'
 '2021-06-08 19:34:19' '2021-06-08 20:45:23' '2021-06-08 22:11:48'
 '2021-06-09 08:40:04' '2021-06-09 19:14:00' '2021-06-12 00:49:24'
 '2021-06-14 23:01:59' '2021-06-15 22:17:51' '2021-06-16 23:01:45'
 '2021-06-17 21:07:35' '2021-06-20 16:10:02' '2021-06-20 17:32:33'
 '2021-06-20 19:11:58' '2021-06-21 00:12:38' '2021-06-21 09:23:27'
 '2021-06-21 13:41:49' '2021-06-21 17:30:41' '2021-06-23 14:41:11'
 '2021-06-23 20:57:29' '2021-06-24 21:52:26' '2021-06-25 17:13:52'
 '2021-06-26 20:26:59' '2021-06-27 14:03:17' '2021-06-27 16:22:13'
 '2021-06-30 14:22:44']
[  0   1   8  99  11   2   6   3   4   5   7  19  10   9  12  17  20  14
  13  15  33  16  18  27  38  23  21  30  40  26  22  25  28  32  29  36
  24  31  37  34  35  39  58  52  87  54  43  49 120  57 105 107  60  42
  86  44  71  68 108  48  62 111  50 116  41  84  65  69  72 118  59  46
  47  53  56 115  45 106  74  98  55]

In [39]:
# 자전거번호, 대여거치대, 반납거치대 
df.drop(columns=["자전거번호", "대여거치대", "반납거치대"],inplace=True)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13613873 entries, 0 to 3445943
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   대여일시      object
 1   대여 대여소번호  int64
 2   대여 대여소명   object
 3   반납일시      object
 4   반납대여소번호   object
 5   반납대여소명    object
 6   이용시간      float64
 7   이용거리      float64
dtypes: float64(2), int64(1), object(5)
memory usage: 934.8+ MB

In [28]:
df.head(1)

,대여일시,대여 대여소번호,대여 대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,이용거리
0,2021-01-02 20:50:36,3,중랑센터,2021-01-02 21:15:41,668,서울축산농협(장안지점),25.0,0.0

### 자료형 확인/변경

In [29]:
# 자료형 확인
df.dtypes

대여일시         object
대여 대여소번호      int64
대여 대여소명      object
반납일시         object
반납대여소번호      object
반납대여소명       object
이용시간        float64
이용거리        float64
dtype: object

In [31]:
print(df["대여 대여소번호"].nunique())
print(df["대여 대여소번호"].unique())
print(df["반납대여소번호"].nunique())
print(df["반납대여소번호"].unique())
#대여와 반납 대여소는 같은 대여소. 
#  데이터 대비 카테고리 형으로 줄이는게 데이터 크기를 줄이는데 이로움

2493
[   3    5   10 ... 3640 3811 4322]
4811
[668 540 594 ... '연신내역 1번 출구' '스페이스 살림 앞' '03811']

In [41]:
# 카테고리형으로 변경  :    대여 대여소번호, 반납대여소번호
df["대여 대여소번호"]=df["대여 대여소번호"].astype("category")
df["반납대여소번호"]=df["반납대여소번호"].astype("category")

In [42]:
df.dtypes

대여일시          object
대여 대여소번호    category
대여 대여소명       object
반납일시          object
반납대여소번호     category
반납대여소명        object
이용시간         float64
이용거리         float64
dtype: object

In [44]:
# 메모리 용량 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13613873 entries, 0 to 3445943
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   대여일시      object
 1   대여 대여소번호  category
 2   대여 대여소명   object
 3   반납일시      object
 4   반납대여소번호   category
 5   반납대여소명    object
 6   이용시간      float64
 7   이용거리      float64
dtypes: category(2), float64(2), object(4)
memory usage: 779.2+ MB

In [45]:
df.head()

,대여일시,대여 대여소번호,대여 대여소명,반납일시,반납대여소번호,반납대여소명,이용시간,이용거리
0,2021-01-02 20:50:36,3,중랑센터,2021-01-02 21:15:41,668,서울축산농협(장안지점),25.0,0.00
1,2021-01-04 16:02:12,3,중랑센터,2021-01-04 16:17:06,668,서울축산농협(장안지점),14.0,0.00
2,2021-01-13 21:02:05,3,중랑센터,2021-01-13 21:14:04,668,서울축산농협(장안지점),11.0,1853.99
3,2021-01-14 21:02:55,3,중랑센터,2021-01-14 21:13:41,668,서울축산농협(장안지점),10.0,0.00
4,2021-01-18 18:02:08,3,중랑센터,2021-01-18 18:15:22,540,군자역 7번출구 베스트샵 앞,13.0,2291.05

In [46]:
# datetime형으로 변경 : 대여일시,반납일시
df["대여일시"] = pd.to_datetime(df["대여일시"])

In [48]:
df["반납일시"] = pd.to_datetime(df["반납일시"] ,errors = "coerce")

In [51]:
# 자료형 변경 확인
df.dtypes

대여일시        datetime64[ns]
대여 대여소번호          category
대여 대여소명             object
반납일시        datetime64[ns]
반납대여소번호           category
반납대여소명              object
이용시간               float64
이용거리               float64
dtype: object

## 결측치 확인/처리

In [52]:
# 결측치 확인
df.isnull().sum()

대여일시          0
대여 대여소번호      0
대여 대여소명       0
반납일시        146
반납대여소번호       0
반납대여소명        0
이용시간          0
이용거리        269
dtype: int64

In [53]:
# 결측치 제거
df.dropna(inplace=True)

In [54]:
# 결측치 확인
df.isnull().sum()

대여일시        0
대여 대여소번호    0
대여 대여소명     0
반납일시        0
반납대여소번호     0
반납대여소명      0
이용시간        0
이용거리        0
dtype: int64

# 일별 이용 현황

## 대여날짜 컬럼 추가
* date

## 대여날짜 별 대여 건수
* groupby
* to_frame

In [ ]:
# 대여날짜 별 대여건수 추출

In [ ]:
# 대여날짜 별 대여건수 시각화

## 대여날짜 별 이용시간
* groupby
* to_frame

In [ ]:
# 대여날짜 별 이용시간 추출

In [ ]:
# 대여날짜 별 이용시간 시각화

## 대여날짜 별 이용 거리

In [ ]:
# 대여날짜 별 이용거리 추출

In [ ]:
# 대여날짜 별 이용거리 시각화

## 데이터프레임 합치기

# 시간대별 대여/반납 현황

## 대여시간, 반납시간 컬럼 추가

## 시간대별 대여/반납 현황

In [ ]:
# 시간대별 대여현황

In [ ]:
# 시간대별 반납현황

## 시각화

In [ ]:
# 시간대별 공공자전거 대여건수 시각화

In [ ]:
# 시간대별 공공자전거 반납건수 시각화

# 대여소별 대여/반납 현황

## 대여소 현황

In [ ]:
# 대여 대여소번호 갯수

In [ ]:
# 반납대여소번호 갯수

In [ ]:
# 반납대여소 번호 처리 (str형으로 변환)

In [ ]:
# 반납대여소 번호 처리 (왼쪽의 '0' 제거)

In [ ]:
# 반납대여소 번호 처리 (int형으로 변환)

In [ ]:
# 반납대여소 번호 처리 (category형으로 변환)

## 대여건수가 가장 많은 대여소 best10

In [ ]:
# value_counts

## 반납건수가 가장 많은 대여소 best10

In [ ]:
# value_counts

## 여의나루역 1번출구 앞 대여소 이용현황

### 서브셋 만들기

### 반납 현황

In [ ]:
# value_counts

### 요일별 대여현황

In [ ]:
#요일컬럼 추가 : strftime('%a')

In [ ]:
# value_counts

### 이용시간 통계

In [ ]:
# 이용시간 평균

In [ ]:
# 이용시간 최대

In [ ]:
# 이용시간 최소

In [ ]:
# 전체데이터 이용시간 평균